header, section, footer, aside, nav, article { 
	display:block; 
}

header {
	background-color: #ffff2c;
	height: 80px;
}

footer {
	background-color: grey;
	height: 200px;
}

nav {
	background-color: #ffe359;
}

aside {
	background-color: #b2b23e;
}

#content {
	background-color: #d3ffce;
}

#wrapper {
	margin: 0 auto;
	width: 800px;
}

header {
	display: flex;
}

.logo {
	flex-grow: 2;
}

.name {
	font-size: 18px;
	flex-grow: 1;
	padding-top: 30px;
}

.info {
	padding-top: 10px;
	flex-grow: 3;
}

.info span{
	display: block;
}

.fill {
	height: 300px;
}

nav ul {
	padding-left: 20px;
	list-style-type: none;
	margin: 0;
}

nav ul > li {
	display: inline-block;
	height: 30px;
}

nav a {
	font-size: 18px;
	text-decoration: none;
	color: #000;
	display: block;
	height: 30px;
	padding-left: 5px;
	padding-right: 5px;
}

nav a:visited {
	color: #000;
}

nav a.active {
	background-color: red;
}

.workarea {
	display: flex;
}
#content {
	width: 60%;
}
#catalog {
	width: 20%;
}
#filter {
	width: 20%;
}


